.calendar-title {
  font-size: 20px;
}

.simple-calendar {
  margin: auto 10px ;
  border: 1px solid white;
  text-decoration: none;
  text-align: center;

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    background-color: aqua;
  }
}