/* 記録指定日時 */
.form-time {
  font-size: 16px;
  resize: none;
  border-radius: 4px;
  width: 100%;
}

.comment {
  font-size: 10px;
  padding-top: 1vh;
}
/* /記録指定日時 */


/* 質問と回答 */
.form-group {
  padding: 2vh 0;
}

.memo {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid rgb(238, 238, 238);
  font-size: 16px;
  resize: none;
}

.form-control {
  border-radius: 4px;
  border: 1px solid #4b4b4b;
}

.memo {
  border: 1px solid #4b4b4b;
}
/* /質問と回答 */

/* 画像挿入 */
.click-upload {
  padding-bottom: 24px;
}
/* /画像挿入 */

/* 送信ボタン */
.actions {
  padding-bottom: 24px;
}
/* /送信ボタン */
