.contents a {
  text-decoration: none;
  color: #4b4b4b;
  text-align: center;
  font-size: 25px;
}

.edit {
  border: 1px solid white;
  background-color: rgb(238, 238, 238);
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
}

.edit:hover {
  font-weight :bold;
}

.delete {
  border: 1px solid white;
  background-color: rgb(238, 238, 238);
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 5px;
}

.delete:hover {
  font-weight :bold;
}


.detail-table {
  list-style: none;
  background-color: white;
  width: 70vw;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  margin: 0 10px;
  padding: 20px;
}

.detail-tweet {
  width: 20%;
  padding: 5px 50px;
  background-color: rgb(238, 238, 238);
  border: 1px solid #4b4b4b;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px 50px;
  border: 1px solid #4b4b4b;
  font-size: 15px;
}
